

.container {
  position: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}
.sidebare {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #006aff;
    
}
.action {
  width: 100%;
  height: 100vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #00ccff;
}
.ReactSlider123456 {
  
  width: 100%;
  height: 100%;
  background-color: #00ccff;
}


.switcher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.color-indicator {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  border-radius: 50%;
}

/* Customize the appearance of the slider as needed */
input[type="range"] {
  width: 80%;
}


.sidebare_button {
  height: 25px;
  width: 100%;
}

.button {
  
   background-color: rgba(255, 255, 255, 0.354);
   color: rgb(0, 0, 0) ;
   border-color: rgb(0, 16, 138);
}
 