

.container {
  position: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}
.sidebare {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #006aff;
}
.action {
  width: 100%;
  height: 100vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #2099d1;
}
